<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ApiHost" value="http://localhost:9000"/>
    <add key="ApiPath" value="/api/v1"/>
    <add key="PhotosPerPage" value="2"/>
    <!-- development / production -->
    <add key="Mode" value="development"/>
    <!-- development mode configuration -->
    <add key="Email" value="michal.krolewski@mail.com"/>
    <add key="Password" value="password"/>
  </appSettings>
</configuration>